{% extends 'mypage_menu.html' %}

{% block mypage_content %}
<script type="text/javascript">
	{% if passwordlen_state %}
		alert('Password length is more than 8');
	{% elif passwordnum_state %}
		alert('Password is not composed to only number');
	{% elif password_state %}
		alert('Password must not be similar to username');
	{% elif different %}
		alert('Different password');
	{% elif not_old_password %}
		alert('Wrong old password');
	{% elif same_old_password %}
		alert('New password must not be equal to old password');
	{% endif %}
	$(document).ready(function() {
		$('.nav-pills li.active').toggleClass("active");
		$('.nav-pills li:eq(1)').toggleClass("active");

		$('#id_password').click(function() {
			var form = $('#passwordform');

			if(!$('input[name=old_password]').val()) {
				alert('Input old password.');
				$('input[name=old_password]').focus();
				return;
			}

			if(!$('input[name=new_password1]').val()) {
				alert('Input new password.');
				$('input[name=new_password1]').focus();
				return;
			}

			if(!$('input[name=new_password2]').val()) {
				alert('Input new password.');
				$('input[name=new_password2]').focus();
				return;
			}

			form.submit();
		});
	});
</script>
<div class="col-md-10">
	<div class="center-block" style="width:700px;">
		<h1>Password Change</h1>
		<form id="passwordform" class="form-horizontal" action="{% url 'password_change_done' %}" method="POST">{% csrf_token %}
			<div class="form-group">
				<label for="id_old_password" class="col-md-3 control-label">Old Password</label>
				<div class="col-md-9">
					<input type="password" id="id_old_password" class="form-control" name="old_password" placeholder="Old Password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="id_new_password1" class="col-md-3 control-label">New Password</label>
				<div class="col-md-9">
					<input type="password" id="id_new_password1" class="form-control" name="new_password1" placeholder="New Password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="id_new_password2" class="col-md-3 control-label">Check New Password</label>
				<div class="col-md-9">
					<input type="password" id="id_new_password2" class="form-control" name="new_password2" placeholder="Check New Password" required>
				</div>
			</div>

			<div class="form-group">
				<div style="padding-right: 15px;">
					<input type="button" id="id_password" class="btn btn-default pull-right" value="Password Change">
				</div>
			</div>

			<script type="text/javascript">document.getElementById('id_old_password').focus();</script>
		</form>
	</div>
</div>
{% endblock mypage_content %}
