{% extends 'mypage_menu.html' %}

{% block mypage_content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.nav-pills li:eq(2)').toggleClass("active");
	});
</script>
<div class="mypage-content col-md-10">
	<div class="center-block" style="width:700px;">
		<h1>Password Change</h1>
		<form id="passwordform" class="form-horizontal" action="{% url 'password_change_done' %}" method="POST">{% csrf_token %}
			<div class="form-group">
				<label for="id_old_password" class="col-md-3 control-label">Old Password</label>
				<div class="col-md-9">
					<input type="password" id="id_old_password" class="form-control" name="old_password" placeholder="Old Password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="id_new_password1" class="col-md-3 control-label">New Password</label>
				<div class="col-md-9">
					<input type="password" id="id_new_password1" class="form-control" name="new_password1" placeholder="New Password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="id_new_password2" class="col-md-3 control-label">Check New Password</label>
				<div class="col-md-9">
					<input type="password" id="id_new_password2" class="form-control" name="new_password2" placeholder="Check New Password" required>
				</div>
			</div>

			<div class="form-group">
				<div style="padding-right: 15px;">
					<input type="submit" id="id_password" class="btn btn-default pull-right" value="Password Change">
				</div>
			</div>

			<script type="text/javascript">document.getElementById('id_old_password').focus();</script>
		</form>
	</div>
</div>
{% if passwordlen_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				비밀번호는 8자리 이상이어야 합니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif passwordnum_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				비밀번호는 숫자로만 이루어질 수는 없습니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif password_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				아이디와 비밀번호가 비슷합니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif different %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				비밀번호를 확인해주세요.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif not_old_password %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Wrong Old Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				예전 비밀번호를 제대로 입력해주세요.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif same_old_password %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				예전 비밀번호와 새 비밀번호가 같습니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% endif %}
{% endblock mypage_content %}
