{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
	{% if user_state %}
		alert('Existed Username');
	{% elif password_state %}
		alert('Different Password');
	{% elif name_state %}
		alert('Username is not composed to only number');
	{% elif email_state %}
		alert('Invalid email');
	{% elif password_state %}
		alert('Password is similar to username');
	{% elif passwordlen_state %}
		alert('Password length is more than 8');
	{% elif passwordnum_state %}
		alert('Password is not composed to only number');
	{% endif %}
	$(document).ready(function() {
		$('#id_register').click(function() {
			var form = $('#registerform');

			if(!$('input[name=username]').val()) {
				alert('Input username.');
				$('input[name=username]').focus();
				return;
			}

			if(!$('input[name=email]').val()) {
				alert('Input email.');
				$('input[name=email]').focus();
				return;
			}

			if(!$('input[name=password1]').val()) {
				alert('Input password.');
				$('input[name=password1]').focus();
				return;
			}

			if(!$('input[name=password2]').val()) {
				alert('Input password.');
				$('input[name=password2]').focus();
				return;
			}

			form.submit();
		});
	});
</script>
<div class="center-block" style="width: 600px;">
	<h1>Registration</h1>

	<form id="registerform" class="form-horizontal" action="{% url 'register_done' %}" method="POST">{% csrf_token %}
	<div class="form-group">
		<label for="id_username" class="col-md-3 control-label">Username</label>
		<div class="col-md-9">
			<input type="text" id="id_username" class="form-control" name="username" placeholder="Username" required>
		</div>
	</div>

	<div class="form-group">
		<label for="id_email" class="col-md-3 control-label">Email</label>
		<div class="col-md-9">
			<input type="email" id="id_email" class="form-control" name="email" placeholder="Email" required>
		</div>
	</div>

	<div class="form-group">
		<label for="id_password1" class="col-md-3 control-label">Password</label>
		<div class="col-md-9">
			<input type="password" id="id_password1" class="form-control" name="password1" placeholder="Password" required>
		</div>
	</div>

	<div class="form-group">
		<label for="id_password2" class="col-md-3 control-label">Check Password</label>
		<div class="col-md-9">
			<input type="password" id="id_password2" class="form-control" name="password2" placeholder="Check Password" required>
		</div>
	</div>

	<div class="form-group">
		<div style="padding-right: 15px;">
			<input type="button" id="id_register" class="btn btn-default pull-right" value="Register"/>
		</div>
	</div>

	<script type="text/javascript">document.getElementById('id_username').focus();</script>
	</form>
</div>
{% endblock content %}
