{% extends 'base.html' %}

{% block content %}
<div class="center-block" style="width: 600px;">
	<h1>Registration</h1>

	<form id="registerform" class="form-horizontal" action="{% url 'register_done' %}" method="POST">{% csrf_token %}
	<div class="form-group">
		<label for="id_username" class="col-md-3 control-label">Username</label>
		<div class="col-md-9">
			<input type="text" id="id_username" class="form-control" name="username" placeholder="Username" required>
		</div>
	</div>

	<div class="form-group">
		<label for="id_email" class="col-md-3 control-label">Email</label>
		<div class="col-md-9">
			<input type="email" id="id_email" class="form-control" name="email" placeholder="Email" required>
		</div>
	</div>

	<div class="form-group">
		<label for="id_password1" class="col-md-3 control-label">Password</label>
		<div class="col-md-9">
			<input type="password" id="id_password1" class="form-control" name="password1" placeholder="Password" required>
		</div>
	</div>

	<div class="form-group">
		<label for="id_password2" class="col-md-3 control-label">Check Password</label>
		<div class="col-md-9">
			<input type="password" id="id_password2" class="form-control" name="password2" placeholder="Check Password" required>
		</div>
	</div>

	<div class="form-group">
		<div style="padding-right: 15px;">
			<input type="submit" id="id_register" class="btn btn-default pull-right" value="Register"/>
		</div>
	</div>

	<script type="text/javascript">document.getElementById('id_username').focus();</script>
	</form>
</div>
{% if user_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Existed Username</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				존재하는 아이디입니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif different_password %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Different Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				비밀번호를 확인해주세요.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif name_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Username</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				아이디는 숫자로만 이루어질 수는 없습니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif email_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Email</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				올바른 이메일 형식으로 입력해주세요.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif password_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				아이디와 비밀번호가 비슷합니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif passwordlen_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				비밀번호는 8자리 이상이어야 합니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% elif passwordnum_state %}
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="hexit" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Invalid Password</h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				비밀번호는 숫자로만 이루어질 수는 없습니다.
			</div>
			<div class="modal-footer">
				<button type="button" id="exit" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('div.modal').modal({
		backdrop: 'static',
		keyboard: false
	});
	$('#exit').focus();
</script>
{% endif %}
{% endblock content %}
