body {
	padding-top: 20px;
}

#logo {
	margin-bottom: 10px;
}

.header {
	margin-bottom: 20px;
	position: relative;
}

.login {
	bottom: 0px;
	right: 20px;
	position: absolute;
	font-size: 20px;
	font-weight: bold;
}

.navbar {
	background-color: #cce6ff;
	border: 1px solid #cce6ff;
}

.navbar-default .navbar-nav > li.active > a, 
.navbar-default .navbar-nav > li.active > a:hover, 
.navbar-default .navbar-nav > li.active > a:focus {
	background-color: #b8daf9;
}

.content {
	margin-top: 20px;
}

#navigation {
	font-size: 1.2em;
}

#logo_img {
	margin-left: 20px;
	width: 200px;
	height: 130px;
}

#logo_text {
	margin-left: 40px;
	padding-top: 50px;
	height: 140px;
}

#logo {
	margin-bottom: 20px;
}

#id_loginsubmit {
	margin-right: 15px;
}

#loginform {
	margin-top: 20px;
}

#mypage-menu > li > a {
	text-align: right;
}

.center-text {
	text-align: center;
}
