.menu {
	border-right: 1px solid #eee;
}

#problem-menu > li > a {
	text-align: right;
}

.problem {
	width: 1070px;
}

.problem table {
	margin-top: 10px;
}

.problem table thead, .problem-content table thead {
	text-align: center;
}

.problem-title {
	font-size: 45px;
}

.problem-content > table {
	margin-top: 30px;
}

.problem_num {
	text-align: right;
}

.problem_center {
	text-align: center;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
	background-color: #99ceff;
}

.nav-pills li a{
	color: black;
}

#id_submit {
	margin-left: 5px;
}

div.form-group.col-md-4 {
	padding-right: 0px;
}

td.col-md-8 {
	padding-right: 0px;
}

.index {
	font-weight: bold;
}

.blue-back {
	background-color: #cce0ff;
}

.glyphicon {
	line-height: 1.3;
}
