.question-title {
	display: inline-block;
}

.question-date {
	display: inline-block;
	float: right;
	padding-top: 25px;
}

#comment #id_submit {
	height: 74px;
}

.comment-m {
	margin-top: 10px;
	margin-bottom: 0px;
}

.question-content {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.comment-content {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
