{% extends 'problem_menu.html' %}

{% block problem_content %}
{% load problem_stats %}
<script type="text/javascript">
	function get(name){
		if(name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
			return decodeURIComponent(name[1]);
	}

	$(document).ready(function() {
		$('#problem-menu > li:eq(0)').toggleClass("active");
		$('#problem-menu > li:eq(0) > ul').css("display", "block");
		$('#problem-menu > li:eq(0) > ul > li:eq(10)').toggleClass("active");

		$('#problem-menu > li:eq(1)').hover(function () {
			$(this).addClass("active");
			$(this).find("ul:first").show(); 
		}, function () {
			$(this).removeClass("active");
			$(this).find("ul:first").hide(); 
		});

		$('#problem-menu > li:eq(2)').hover(function () {
			$(this).addClass("active");
			$(this).find("ul:first").show();
		}, function () {
			$(this).removeClass("active");
			$(this).find("ul:first").hide();
		});

		var order = get('orderby');

		if(!order)
			order = "title";

		if(order.match("title")) {
			$('.orderT').addClass("blue-back");
			$('.orderL').mouseenter(function() {
				$('.orderL').css("background-color", "#e6f0ff");
			});
			$('.orderL').mouseleave(function() {
				$('.orderL').css("background-color", "white");
			});
			$('.orderS').mouseenter(function() {
				$('.orderS').css("background-color", "#e6f0ff");
			});
			$('.orderS').mouseleave(function() {
				$('.orderS').css("background-color", "white");
			});
			if(order == "rtitle") {
				$('.orderT span').removeClass("glyphicon-chevron-up");
				$('.orderT span').addClass("glyphicon-chevron-down");
			}
		}

		else if(order.match("level")) {
			$('.orderL').addClass("blue-back");
			$('.orderT').mouseenter(function() {
				$('.orderT').css("background-color", "#e6f0ff");
			});
			$('.orderT').mouseleave(function() {
				$('.orderT').css("background-color", "white");
			});
			$('.orderS').mouseenter(function() {
				$('.orderS').css("background-color", "#e6f0ff");
			});
			$('.orderS').mouseleave(function() {
				$('.orderS').css("background-color", "white");
			});
			if(order == "rlevel") {
				$('.orderL span').removeClass("glyphicon-chevron-up");
				$('.orderL span').addClass("glyphicon-chevron-down");
			}
		}

		else if(order.match("stats")) {
			$('.orderS').addClass("blue-back");
			$('.orderL').mouseenter(function() {
				$('.orderL').css("background-color", "#e6f0ff");
			});
			$('.orderL').mouseleave(function() {
				$('.orderL').css("background-color", "white");
			});
			$('.orderT').mouseenter(function() {
				$('.orderT').css("background-color", "#e6f0ff");
			});
			$('.orderT').mouseleave(function() {
				$('.orderT').css("background-color", "white");
			});
			if(order == "rstats") {
				$('.orderS span').removeClass("glyphicon-chevron-up");
				$('.orderS span').addClass("glyphicon-chevron-down");
			}
		}

		else
			alert("exception");

		$('.orderT').click(function() {
			if(order == "title")
				$(location).attr("href", "{% url 'artifact11' %}?orderby=rtitle");
			else
				$(location).attr("href", "{% url 'artifact11' %}?orderby=title");
		});

		$('.orderL').click(function() {
			if(order == "level")
				$(location).attr("href", "{% url 'artifact11' %}?orderby=rlevel");
			else
				$(location).attr("href", "{% url 'artifact11' %}?orderby=level");
		});

		$('.orderS').click(function() {
			if(order == "stats")
				$(location).attr("href", "{% url 'artifact11' %}?orderby=rstats");
			else
				$(location).attr("href", "{% url 'artifact11' %}?orderby=stats");
		});
	});
</script>
<div class="problem-content col-md-10">
	<h1>MFT</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td class="orderT">Problem<span class="glyphicon glyphicon-chevron-up pull-right"></span></td>
				<td class="orderL">Level<span class="glyphicon glyphicon-chevron-up pull-right"</span></td>
				<td class="orderS">Pass/Submits<span class="glyphicon glyphicon-chevron-up pull-right"></span></td>
			</tr>
		</thead>
		{{ counter.setzero|default_if_none:"" }}
		<tbody>
		{% for problem in problems %}
			<tr>
				<td class="problem_num col-md-1">{{ counter.count|add:"1" }}</td>
				<td class="col-md-8"><a href="{% url 'problem_view' %}?pnum={{ problem.num }}">{{ problem.title }}</a></td>
				<td class="problem_center">level{{ problem.level }}</td>
				<td class="problem_center">{{ problem.corrects|getstats:problem.submits }} ({{ problem.corrects }}/{{ problem.submits }})</td>
				{{ counter.increment|default_if_none:"" }}
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock problem_content %}
