{% extends 'document_menu.html' %}

{% block document_content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.nav-pills li:eq(1)').toggleClass("active");
		$('#backtolist').click(function() {
			$(location).attr("href", "{% url 'document_list' %}");
		});
	});
</script>
<div class="document-content col-md-10">
	<h2>{{ document.title }}</h2>
	<hr>
		<span class="pull-right document-date">{{ document.created_date }}</span>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Download Files <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu" z-index="0">
				{% block document_files %}
				{% endblock document_files %}
			</ul>
		</div>
	<hr>
	{% block document_block %}
	{% endblock document_block %}
	<hr>
	<input type="button" id="backtolist" class="btn btn-info pull-right" value="목록" />
	
</div>
{% endblock document_content %}
