{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$("nav ul li:eq(2)").toggleClass("active");
	});
</script>
<div class="col-md-12">
	<div class="menu col-md-2">
		<ul id="document-menu" class="nav nav-pills nav-stacked">
			<li><a href="{% url 'roadmap' %}">RoadMap</a></li>
			<li><a href="{% url 'document_list' %}">Document</a></li>
		</ul>
	</div>
	{% block document_content %}
	{% endblock document_content %}
</div>
{% endblock content %}
