<div class="container content">
	<div class="menu col-md-2">
		<ul id="problem-menu" class="nav nav-pills nav-stacked">
			<li class="active"><a href="#artifact1">Artifact 1</a></li>
			<li><a href="#artifact2">Artifact 2</a></li>
			<li><a href="#artifact3">Artifact 3</a></li>
			<li><a href="#artifact4">Artifact 4</a></li>
			<li><a href="#artifact5">Artifact 5</a></li>
		</ul>
		<script type="text/javascript">
			var pmenu = $('#problem-menu a');
			for (var i = 0; i < pmenu.length; i++){
				$('#problem-menu a:eq('+i+')').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
			};
		</script>
	</div>
	<div class="problem-content col-md-10">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="artifact1">
				<h1>Artifact 1</h1>
				<table class="table table-bordered">
					{% for problem in problems %}
						{% ifequal problem.artifact 1 %}
						{% if counter.count|divisibleby:"5"%}
						<tr>
						{% endif %}	
							<td><a href="#">{{ problem.title }}</a> / level{{ problem.level }}</td>
							<div class="hidden">{{ counter.increment }}</div>
						{% if counter.count|divisibleby:"5"%}
						</tr>
						{% endif %}
						{% endifequal %}
					{% endfor %}
				</table>
			</div>
			<div class="tab-pane fade" id="artifact2">
				<h1>Artifact 2</h1>
				<table class="table table-bordered">
					{% for problem in problems %}
						{% ifequal problem.artifact 2 %}
						{% if counter.count|divisibleby:"5"%}
						<tr>
						{% endif %}	
							<td><a href="#">{{ problem.title }}</a> / level{{ problem.level }}</td>
							<div class="hidden">{{ counter.increment }}</div>
						{% if counter.count|divisibleby:"5"%}
						</tr>
						{% endif %}
						{% endifequal %}
					{% endfor %}
				</table>
			</div>
			<div class="tab-pane fade" id="artifact3">
				<h1>Artifact 3</h1>
				<table class="table table-bordered">
					{% for problem in problems %}
						{% ifequal problem.artifact 3 %}
						{% if counter.count|divisibleby:"5"%}
						<tr>
						{% endif %}	
							<td><a href="#">{{ problem.title }}</a> / level{{ problem.level }}</td>
							<div class="hidden">{{ counter.increment }}</div>
						{% if counter.count|divisibleby:"5"%}
						</tr>
						{% endif %}
						{% endifequal %}
					{% endfor %}
				</table>
			</div>
			<div class="tab-pane fade" id="artifact4">
				<h1>Artifact 4</h1>
				<table class="table table-bordered">
					{% for problem in problems %}
						{% ifequal problem.artifact 4 %}
						{% if counter.count|divisibleby:"5"%}
						<tr>
						{% endif %}	
							<td><a href="#">{{ problem.title }}</a> / level{{ problem.level }}</td>
							<div class="hidden">{{ counter.increment }}</div>
						{% if counter.count|divisibleby:"5"%}
						</tr>
						{% endif %}
						{% endifequal %}
					{% endfor %}
				</table>
			</div>
			<div class="tab-pane fade" id="artifact5">
				<h1>Artifact 5</h1>
				<table class="table table-bordered">
					{% for problem in problems %}
						{% ifequal problem.artifact 5 %}
						{% if counter.count|divisibleby:"5"%}
						<tr>
						{% endif %}	
							<td><a href="#">{{ problem.title }}</a> / level{{ problem.level }}</td>
							<div class="hidden">{{ counter.increment }}</div>
						{% if counter.count|divisibleby:"5"%}
						</tr>
						{% endif %}
						{% endifequal %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% if test.user.is_superuser %}
	<div style="overflow: auto;">
		<input class="btn btn-info pull-right" type="button" value="Add Problem" onclick="location.href='/admin/problem/problem/add'"></input>
	</div>
{% endif %}
