{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('nav ul li:eq(3)').toggleClass("active");
	{% if request.user.is_staff %}	
		$('#addbutton').click(function() {
			$(location).attr("href", "{% url 'problem_write' %}");
		});
	{% endif %}
	});
</script>
<div class="col-md-12">
<div class="menu col-md-2">
	<ul id="problem-menu" class="nav nav-pills nav-stacked">
		<li><a href="{% url 'artifact1' %}?orderby=title">Artifact Analysis</a>
			<ul class="nav nav-pills nav-stacked submenu">
				<li><a href="{% url 'artifact1' %}?orderby=title">Prefetch</a></li>
				<li><a href="{% url 'artifact2' %}?orderby=title">Event Log</a></li>
				<li><a href="{% url 'artifact3' %}?orderby=title">LNK</a></li>
				<li><a href="{% url 'artifact4' %}?orderby=title">Shimcache</a></li>
				<li><a href="{% url 'artifact5' %}?orderby=title">Memory Dump</a></li>
				<li><a href="{% url 'artifact6' %}?orderby=title">Network</a></li>
				<li><a href="{% url 'artifact7' %}?orderby=title">Thumbnail</a></li>
				<li><a href="{% url 'artifact8' %}?orderby=title">VSS</a></li>
				<li><a href="{% url 'artifact9' %}?orderby=title">Web Browser History</a></li>
				<li><a href="{% url 'artifact10' %}?orderby=title">WER & Crash Dump</a></li>
				<li><a href="{% url 'artifact11' %}?orderby=title">MFT</a></li>
				<li><a href="{% url 'artifact12' %}?orderby=title">File System</a></li>
				<li><a href="{% url 'artifact13' %}?orderby=title">Registry</a></li>
			</ul>
		</li>
		<li><a href="{% url 'anti1' %}">Anti-Forensic</a>
			<ul class="nav nav-pills nav-stacked submenu">
				<li><a href="{% url 'anti1' %}">Steganography</a></li>
				<li><a href="{% url 'anti2' %}">Hidden File</a></li>
				<li><a href="{% url 'anti3' %}">File Delete</a></li>
			</ul>
		</li>
		<li><a href="{% url 'case1' %}">Scenario</a>
			<ul class="nav nav-pills nav-stacked submenu">
				<li><a href="{% url 'case1' %}">랜섬웨어</a></li>
				<li><a href="{% url 'case2' %}">정보 유출</a></li>
				<li><a href="{% url 'case3' %}">네트워크 공격</a></li>
				<li><a href="{% url 'case4' %}">바이러스</a></li>
			</ul>
		</li>
	</ul>
</div>

{% block problem_content %}
{% endblock problem_content %}

{% if request.user.is_staff %}
	<div class="addproblem">
		<input id="addbutton" class="btn btn-info pull-right" type="button" value="Add Problem">
	</div>
{% endif %}
</div>
{% endblock content %}
