{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('nav .active').toggleClass("active");
		$('nav ul li:eq(3)').toggleClass("active");
	{% if request.user.is_staff %}	
		$('#addbutton').click(function() {
			$(location).attr("href", "{% url 'problem_write' %}");
		});
	{% endif %}
	});
</script>
<div class="col-md-12">
<div class="menu col-md-2">
	<ul id="problem-menu" class="nav nav-pills nav-stacked">
		<li class="active"><a href="{% url 'artifact1' %}">Artifact 1</a></li>
		<li><a href="{% url 'artifact2' %}">Artifact 2</a></li>
		<li><a href="{% url 'artifact3' %}">Artifact 3</a></li>
		<li><a href="{% url 'artifact4' %}">Artifact 4</a></li>
		<li><a href="{% url 'artifact5' %}">Artifact 5</a></li>
	</ul>
</div>

{% block problem_content %}
{% endblock problem_content %}

{% if request.user.is_staff %}
	<div class="addproblem">
		<input id="addbutton" class="btn btn-info pull-right" type="button" value="Add Problem">
	</div>
{% endif %}
</div>
{% endblock content %}
