{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
	$('.active').toggleClass("active");
	$('nav ul li:eq(4)').toggleClass("active");
</script>
<div class="container content">
	<div class="menu col-md-2">
		<ul id="community-menu" class="nav nav-pills nav-stacked">
			<li class="active"><a href="#notice">Notice</a></li>
			<li><a href="#community1">Community 1</a></li>
			<li><a href="#community2">Community 2</a></li>
		</ul>
		<script type="text/javascript">
			var cmenu = $('#community-menu a');
			for (var i = 0; i < cmenu.length; i++){
				$('#community-menu a:eq('+i+')').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
			};
		</script>
	</div>
	<div class="col-md-10">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="notice">
				<h1>Test Notice</h1>
			</div>
			<div class="tab-pane fade" id="community1">
				<h1>Test Community 1</h1>
			</div>
			<div class="tab-pane fade" id="community2">
				<h1>Test Community 2</h1>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
