{% extends "mypage_menu.html" %}

{% block mypage_content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.nav-pills li:eq(1)').toggleClass("active");
	});
</script>
<div class="mypage-content col-md-10">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="center-text">Rank</td>
				<td class="center-text">Username</td>
				<td class="center-text">Score</td>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			{% if user.score >= 0 %}
			<tr>
				<td>{{ user.rank }}{% if user.rank == 1 %}st{% elif user.rank == 2 %}nd{% elif user.rank == 3 %}rd{% else %}th{% endif%}</td>
				{% for name in names %}
					{% if user.user_id == name.id %}
						<td>{{ name.username }}</td>
					{% endif %}
				{% endfor %}
				<td>{{ user.score }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock mypage_content %}
